.build_cache/
build/
dist/
lib/
lib/bundle.js*
Project.toml
coverage/
node_modules/
.npm
vv/
venv/
.tox
*.pyc
*.egg-info
*.log
.idea/
.DS_Store

/build
/dash_core_components
dash_core_components_base/plotly.min.js
dash_core_components_base/mathjax.js
/deps
/inst
/man
/R
/src/*.jl
/src/jl/
DESCRIPTION
NAMESPACE
