.dash-callback-dag--container {
    border-radius: 4px;
    position: fixed;
    bottom: 165px;
    right: 16px;
    width: 80vw;
    height: calc(100vh - 180px);
    overflow: auto;
    box-sizing: border-box;
    background: #ffffff;
    display: inline-block;
    /* shadow-1 */
    box-shadow: 0px 6px 16px rgba(80, 103, 132, 0.165),
        0px 2px 6px rgba(80, 103, 132, 0.12),
        0px 0px 1px rgba(80, 103, 132, 0.32);
}

.dash-callback-dag--info {
    border-radius: 4px;
    position: absolute;
    padding: 8px;
    bottom: 16px;
    left: 16px;
    max-width: calc(100% - 32px);
    max-height: 50%;
    overflow: auto;
    box-sizing: border-box;
    background: rgba(255,255,255,0.9);
    border: 2px solid #ccc;
    font-family: "Arial", sans-serif;
}

.dash-callback-dag--message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 2em;
    font-family: "Arial", sans-serif;
}

.dash-callback-dag--layoutSelector {
    position: absolute;
    top: 10px;
    right: 10px;
}
