.dash-callback-dag--container {
    border-radius: 4px;
    position: fixed;
    bottom: 165px;
    right: 16px;
    width: 80vw;
    height: calc(100vh - 180px);
    overflow: auto;
    box-sizing: border-box;
    background: #ffffff;
    display: inline-block;
    /* shadow-1 */
    box-shadow: 0px 6px 16px rgba(80, 103, 132, 0.165),
        0px 2px 6px rgba(80, 103, 132, 0.12),
        0px 0px 1px rgba(80, 103, 132, 0.32);
}

.dash-callback-dag--info {
    border-radius: 4px;
    position: absolute;
    padding: 8px;
    bottom: 16px;
    left: 16px;
    max-width: calc(100% - 32px);
    max-height: 50%;
    overflow: auto;
    box-sizing: border-box;
    background: rgba(255,255,255,0.9);
    border: 2px solid #ccc;
    font-family: "Roboto", "Arial", sans-serif;
}

.dash-callback-dag--message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 2em;
    font-family: "Arial", sans-serif;
}

.parent {
    position:absolute;
    top:10px;
    left:10px;
    z-index:1000;
  }

.menu-bar-container {
    position:absolute;
    top:0;
    left:0;
    right:0;
    background-color:#282828;
    height:60px
}

.menu-bar-container > .menu-bar {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 6px 6px;
    align-items: center;
}

.menu-bar > .search-bar {
    flex-grow: 0;
    justify-items: center;
    height:50px;
    padding: 0px 5px;
    align-self:center;
}

.menu-bar > .filter-bar {
    flex-grow: 1;
    height:50px;
    align-self: center;
}

.menu-bar > .layout-bar {
    flex-grow: 0;
    height: 50px;
    align-self:center;
}

.hideZeroOnlyLabel {
    color: white;
    margin-left:5px;
}

.layoutSelector {
    width: 150px;
    padding: .5rem .5rem;
    background-position: right 5px center;
}