*.ipynb_notebooks
*.ipynb

ignore
*.csv
*.log
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
vv

# IDE
.idea/*
.vscode/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Distribution / packaging
.Python
build/
dash/deps/
dash/html/*
!dash/html/.gitkeep
dash/dcc/*
!dash/dcc/.gitkeep
dash/dash_table/*
!dash/dash_table/.gitkeep
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
node_modules/
.npm
npm-debug*

dash_generator_test_component_standard/
dash_generator_test_component_nested/
dash_test_components/
dash_generator_test_component_typescript/
inst/
man/
R/
.Rbuildignore
.Rdata
.Rhistory
DESCRIPTION
NAMESPACE
digest.json
VERSION.txt

# vim
*.swp

# Exceptions
!components/dash-core-components/tests/integration/upload/upload-assets/upft001.csv
!components/dash-table/tests/assets/*.csv
!components/dash-table/tests/selenium/assets/*.csv
