dash_core_components>=0.27.2
dash_html_components>=0.12.0
dash-flow-example==0.0.3
dash-dangerously-set-inner-html
dash_renderer-0.13.1.tar.gz
percy
selenium
mock
tox
tox-pyenv
six
plotly>=2.0.8
requests[security]
flake8
pylint==2.1.1
astroid==2.0.4
