include README.md
include LICENSE
include requires-*.txt
include src/dash/favicon.ico
include src/dash/extract-meta.js
include src/dash/deps/*.js
include src/dash/deps/*.map
include src/dash/dcc/*
include src/dash/html/*
include src/dash/dash_table/*
include src/dash/dash-renderer/build/*.js
include src/dash/dash-renderer/build/*.map
include src/dash/labextension/dist/dash-jupyterlab.tgz
include src/dash/labextension/package.json
