include README.md
include LICENSE
include requires-*.txt
include dash/favicon.ico
include dash/extract-meta.js
include dash/deps/*.js
include dash/deps/*.map
include dash/dash-renderer/build/*.js
include dash/dash-renderer/build/*.map
