include dash_renderer/dash_renderer.dev.js
include dash_renderer/dash_renderer.dev.js.map
include dash_renderer/dash_renderer.min.js
include dash_renderer/dash_renderer.min.js.map
include dash_renderer/react-dom@*.min.js
include dash_renderer/react@*.min.js
