<!doctype html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='static/css/dash.css' rel='stylesheet' type='text/css'>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
</head>

<body>

    {% block content %}{% endblock %}

</body>


<footer>

    <script type="text/javascript" src="static/js/layoutState.js"></script>
    <script type="text/javascript" src="static/js/plotlyEmbed.js"></script>

</footer>

</html>
