
{% extends "layouts/base.html" %}
{% block content %}

    <div class="row">
        {% include "runtime/"+app_name+"/header.html" ignore missing %}
    </div>

    <div class="row">
        <div class="two columns">
            {% include "runtime/"+app_name+"/controls.html" %}
        </div>
        <div class="five columns">
            {% block leftgraph %}
                {% include "runtime/"+app_name+"/leftgraph.html" %}
            {% endblock %}
        </div>
        <div class="five columns">
            {% block rightgraph %}
                {% include "runtime/"+app_name+"/rightgraph.html" %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
