{% extends "layouts/base.html" %}
{% block content %}

    <div class="container">

        <div style="border-bottom: lightgrey solid thin;">
                {% block banner %}
                    {% include "dash/banner.html" %}
                {% endblock %}
        </div>

        <div class="row">

            <div class="three columns">
                {% block leftcolumn %}
                    {% include "dash/leftcolumn.html" %}
                {% endblock %}
            </div>

            <div class="nine columns">
                {% block rightcolumn %}
                    {% include "dash/rightcolumn.html" %}
                {% endblock %}
            </div>

        </div>
    </div>

{% endblock %}
