appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
click==6.7
dash-core-components==0.3.5
dash-html-components==0.4.0
dash-renderer==0.3.3
dash.ly==0.14.2rc1
decorator==4.0.11
enum34==1.1.6
Flask==0.12.1
Flask-Compress==1.4.0
Flask-Cors==3.0.2
Flask-SeaSurf==0.2.2
funcsigs==1.0.2
functools32==3.2.3.post2
ipdb==0.10.2
ipython==5.3.0
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-core==4.3.0
MarkupSafe==1.0
mock==2.0.0
nbformat==4.3.0
pathlib2==2.2.1
pbr==2.0.0
percy==0.4.2
pexpect==4.2.1
pickleshare==0.7.4
plotly==2.0.7
prompt-toolkit==1.0.13
ptyprocess==0.5.1
Pygments==2.2.0
pytz==2017.2
requests==2.13.0
scandir==1.5
selenium==3.0.2
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.12.1
