.dash-debug-menu {
    transition: width 0.05s, background-color 0.1s;
    position: fixed;
    bottom: 35px;
    right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.dash-debug-menu--closed {
    background-color: #119dff;
    border-radius: 100%;
    width: 64px;
    height: 64px;
}
.dash-debug-menu--opened {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25),
        0px 1px 3px rgba(162, 177, 198, 0.32);
    border-radius: 4px;
    padding: 12px 0px;
    background-color: white;
}

.dash-debug-menu--closed:hover {
    cursor: pointer;
    background-color: #108de4;
}

.dash-debug-menu__icon {
    width: 24px;
    height: 28px;
}
.dash-debug-menu__icon--small {
    width: 24px;
    height: 24px;
}
.dash-debug-menu__icon--bell {
    height: 24px;
    width: 28px;
}
.dash-debug-menu__icon--debug {
    height: 24px;
    width: auto;
}
.dash-debug-menu__icon--graph {
    height: 24px;
}

.dash-debug-menu__content {
    display: flex;
    width: 100%;
    height: 100%;
}

.dash-debug-menu__button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 74px;
    margin-left: 10px;
}
.dash-debug-menu__button-container--small {
    margin-right: -20px;
}
.dash-debug-menu__button-label {
    color: #A2B1C6;
    font-size: 10px;
    margin-top: 4px;
    text-align: center;
}

.dash-debug-menu__button {
    background-color: white;
    border-radius: 100%;
    border: 1px solid #B9C2CE;
    width: 64px;
    height: 64px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    color: black;
}
.dash-debug-menu__button--enabled {
    background-color: #00CC96;
    color: white;
}
.dash-debug-menu__button--small {
    width: 32px;
    height: 32px;
    background-color: #B9C2CE;
}
.dash-debug-menu__button:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}
.dash-debug-menu__button--small:hover {
    background-color: #a1a9b5;
}

.dash-debug-menu__button--enabled:hover {
    background-color: #03bb8a;
}

.dash-debug-menu__indicator {
    border-radius: 100%;
    width: 34px;
    height: 34px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.dash-debug-menu__indicator::before {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    top: 110%;
    left: 50%;
    margin-left: -60px;
    padding: 7px;
    width: 120px;
    border-radius: 3px;
    background-color: rgba(68,68,68,0.7);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 10px;
    line-height: 1.2;
}
.dash-debug-menu__indicator:hover::before {
    visibility: visible;
}
.dash-debug-menu__indicator--available {
    background-color: #7FCCBB;
}
.dash-debug-menu__indicator--available::before {
    content: "Server Available"
}
.dash-debug-menu__indicator--unavailable {
    background-color: #F1564E;
}
.dash-debug-menu__indicator--unavailable::before {
    content: "Server Unavailable. Check if the process has halted.";
    margin-left: -70px;
    width: 140px;
}
.dash-debug-menu__indicator--cold {
    background-color: #FDDA68;
}
.dash-debug-menu__indicator--cold::before {
    content: "Hot Reload Disabled"
}

.dash-debug-alert {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.dash-debug-alert-label {
    display: flex;
    position: fixed;
    bottom: 81px;
    right: 29px;
    z-index: 10001;
    cursor: pointer;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25),
        0px 1px 3px rgba(162, 177, 198, 0.32);
    border-radius: 32px;
    background-color: white;
    padding: 4px;
}

.dash-debug-error-count {
    display: block;
    margin: 0 3px;
}

.dash-debug-disconnected {
    font-size: 14px;
    margin-left: 3px;
}
