.dash-error-overlay {
    padding: 1rem;
    background-color: #ff4500;
    color: white;
    display: inline-block;
    animation: dash-error-overlay-animation 0.5s;
    margin: 1rem;
    box-shadow: inset 0px -1px 2px 2px rgba(80, 103, 132, 0.165);
    font-family: Fira Code;
    font-size: 14px;
}

@keyframes dash-error-overlay-animation {
    from {
        opacity: 0;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
