.dash-backend-error {
    font-family: Roboto;
}
.dash-backend-error .traceback {
    background-color: white;
    border: 2px solid #dfe8f3;
    border-radius: 0px 0px 4px 4px;
    color: #506784;
}
.dash-backend-error h2.traceback {
    background-color: #f3f6fa;
    border: 2px solid #dfe8f3;
    border-bottom: 0px;
    box-sizing: border-box;
    border-radius: 4px 4px 0px 0px;
    color: #506784;
    font-weight: 800;
}
.dash-backend-error h2.traceback em{
    color: #506784;
    font-weight: 100;
}
.dash-backend-error .traceback pre, .dash-backend-error .debugger textarea{
    background-color: #F3F6FA;
}
.dash-backend-error .debugger {
    width: 60%;
}
.dash-backend-error .debugger h1{
    color: #506784;
    font-family: Roboto;
}
.dash-backend-error .explanation {
    color: #A2B1C6;
}
 /* Hide the Don't Panic! footer */
 .dash-backend-error .debugger .footer {
     display: none;
 }
