.dash-debug-menu {
    transition: 0.3s;
    position: fixed;
    bottom: 35px;
    right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10001;
    background-color: #119dff;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    cursor: pointer;
}
.dash-debug-menu--open {
    transform: rotate(-180deg);
}

.dash-debug-menu__outer button {
    height: auto;
    padding: 0 8px;
    line-height: normal;
    text-transform: none;
    font-size: 14px;
    border-radius: 0px;
    letter-spacing: normal;
    white-space: nowrap;
    gap: 6px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
}

.dash-debug-menu__popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100%;
    right: 0;
    gap: 8px;
    max-height: calc(100vh - 75px);
    justify-content: flex-end;
}

.dash-debug-menu__version-opt-out {
    display: flex;
    width: 426px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 24, 102, 0.1);
    background: #fff;
    align-self: flex-end;
    position: relative;
    /* Shadow/Small */
    box-shadow: 0px 0.7px 1.4px 0px rgba(0, 0, 0, 0.07),
        0px 1.9px 4px 0px rgba(0, 0, 0, 0.05),
        0px 4.5px 10px 0px rgba(0, 0, 0, 0.05);
}

.dash-debug-menu__version-opt-out__text {
    display: inline-block;
}

.dash-debug-menu__version-opt-out__text a {
    color: #7f4bc4;
    text-decoration: none;
}

.dash-debug-menu__version-opt-out__text span {
    margin-right: 5px;
}

.dash-debug-menu__version-opt-out button {
    display: flex;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    line-height: 18px;
    padding: 16px 12px;
}

.dash-debug-menu__version-opt-out__buttons-container {
    display: flex;
    gap: 8px;
    align-self: stretch;
    justify-content: center;
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid rgba(0, 24, 102, 0.1);
}

.dash-debug-menu__version-opt-out__button-primary {
    border: none;
    color: #fff;
    background: #7f4bc4;
}

.dash-debug-menu__version-opt-out__button-secondary {
    background: rgba(161, 89, 255, 0.05);
    color: #7f4bc4;
    border: 1px solid rgba(134, 74, 212, 0.8);
}

.dash-debug-menu:hover {
    background-color: #108de4;
}

.dash-debug-menu__outer {
    transition: 0.3s;
    box-sizing: border-box;
    position: fixed;
    bottom: -1px;
    right: -1px;
    display: flex;
    color: black;
    flex-direction: row;
    font-family: Verdana, sans-serif !important;
    font-size: 14px;
    justify-content: flex-end;
    align-items: center;
    z-index: 10000;
    border-radius: 5px 0 0 0;
    padding: 15px 0;
    background-color: #f5f6fa;
    box-shadow: 0px 0.8px 0.8px 0px rgba(0, 0, 0, 0.04),
        0px 2.3px 2px 0px rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 24, 102, 0.1);
}
.dash-debug-menu__outer.dash-debug-menu__outer--collapsed {
    max-width: 50px;
}
.dash-debug-menu__outer.dash-debug-menu__outer--expanded {
    max-width: 682px;
}

.dash-debug-menu__upgrade-tooltip {
    position: absolute;
    bottom: calc(100% + 12px);
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #0018661a;
    padding: 11px;
    box-shadow: 0px 0px 14px 5px #00000012;
    z-index: 1200;
}

.dash-debug-menu__toggle {
    color: #7f4bc4;
    transition: 0.3s;
}
.dash-debug-menu__toggle--expanded {
    transform: rotate(180deg);
}
.dash-debug-menu__error-indicator {
    width: 8px;
    height: 8px;
    background-color: #DC3E42;
    border-radius: 100%;
    position: absolute;
    right: 3px;
    top: 13px;
}
.dash-debug-menu__status {
    display: flex;
    align-items: center;
    gap: 6px;
}

.dash-debug-menu__content {
    display: flex;
    align-items: stretch;
    margin-left: 15px;
    transition: all 0.5s ease;
}

.dash-debug-menu__version {
    position: relative;
    display: flex;
    align-items: center;
}

.dash-debug-menu__divider {
    width: 1.5px;
    height: 26px;
    margin: 0px 13px;
    background-color: #0015594d;
}

.dash-debug-menu__button {
    background: none;
    border: none;
    box-shadow: 0 1px #d3dae6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    font-family: Verdana, sans-serif !important;
    font-weight: bold;
    color: black;
}

.dash-debug-menu__button.dash-debug-menu__button--selected {
    color: #7f4bc4;
    box-shadow: 0 2px #0071c2;
}
.dash-debug-menu__button.dash-debug-menu__button--selected:hover {
    color: #5806c4;
}

.dash-debug-alert {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.dash-debug-alert-label {
    display: flex;
    position: fixed;
    bottom: 81px;
    right: 29px;
    z-index: 10002;
    cursor: pointer;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25),
        0px 1px 3px rgba(162, 177, 198, 0.32);
    border-radius: 32px;
    background-color: white;
    padding: 4px;
    color: rgb(50, 50, 50);
}

.dash-debug-menu__error-count {
    font-size: 12px;
    color: #fff;
    background-color: #c73a3a;
    padding: 3px 5px;
    border-radius: 3px;
}

.dash-debug-disconnected {
    font-size: 14px;
    margin-left: 3px;
}
