.dash-debug-menu {
    transition: 0.3s;
    position: fixed;
    bottom: 35px;
    right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10001;
    background-color: #119dff;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    cursor: pointer;
}
.dash-debug-menu--open {
    transform: rotate(-180deg);
}

.dash-debug-menu:hover {
    background-color: #108de4;
}

.dash-debug-menu__icon {
    width: auto;
    height: 24px;
}

.dash-debug-menu__outer {
    transition: 0.3s;
    box-sizing: border-box;
    position: fixed;
    bottom: 27px;
    right: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    height: 80px;
    border-radius: 40px;
    padding: 5px 78px 5px 5px;
    background-color: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25),
        0px 1px 3px rgba(162, 177, 198, 0.32);
}
.dash-debug-menu__outer--closed {
    height: 60px;
    width: 60px;
    bottom: 37px;
    right: 37px;
    padding: 0;
}

.dash-debug-menu__content {
    display: flex;
    width: 100%;
    height: 100%;
}

.dash-debug-menu__button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 74px;
}

.dash-debug-menu__button {
    position: relative;
    background-color: #B9C2CE;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    color: #fff;
    cursor: pointer;
}
.dash-debug-menu__button:hover {
    background-color: #a1a9b5;
}
.dash-debug-menu__button--enabled {
    background-color: #00CC96;
}
.dash-debug-menu__button.dash-debug-menu__button--enabled:hover {
    background-color: #03bb8a;
}

.dash-debug-menu__button-label {
    cursor: inherit;
}

.dash-debug-menu__button::before {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
    padding: 7px;
    width: 120px;
    border-radius: 3px;
    background-color: rgba(68,68,68,0.7);
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 1.2;
}
.dash-debug-menu__button:hover::before {
    visibility: visible;
}
.dash-debug-menu__button--callbacks::before {
    content: "Toggle Callback Graph";
}
.dash-debug-menu__button--errors::before {
    content: "Toggle Errors";
}
.dash-debug-menu__button--available,
.dash-debug-menu__button--available:hover {
    background-color: #00CC96;
    cursor: default;
}
.dash-debug-menu__button--available::before {
    content: "Server Available";
}
.dash-debug-menu__button--unavailable,
.dash-debug-menu__button--unavailable:hover {
    background-color: #F1564E;
    cursor: default;
}
.dash-debug-menu__button--unavailable::before {
    content: "Server Unavailable. Check if the process has halted or crashed.";
}
.dash-debug-menu__button--cold,
.dash-debug-menu__button--cold:hover {
    background-color: #FDDA68;
    cursor: default;
}
.dash-debug-menu__button--cold::before {
    content: "Hot Reload Disabled";
}

.dash-debug-alert {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.dash-debug-alert-label {
    display: flex;
    position: fixed;
    bottom: 81px;
    right: 29px;
    z-index: 10002;
    cursor: pointer;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25),
        0px 1px 3px rgba(162, 177, 198, 0.32);
    border-radius: 32px;
    background-color: white;
    padding: 4px;
    color: rgb(50, 50, 50);
}

.dash-debug-error-count {
    display: block;
    margin: 0 3px;
}

.dash-debug-disconnected {
    font-size: 14px;
    margin-left: 3px;
}
