.dash-debug-menu {
    transition: 0.3s;
    position: fixed;
    bottom: 35px;
    right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10001;
    background-color: #119dff;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    cursor: pointer;
}
.dash-debug-menu--open {
    transform: rotate(-180deg);
}

.dash-debug-menu:hover {
    background-color: #108de4;
}

.dash-debug-menu__outer {
    transition: 0.3s;
    box-sizing: border-box;
    position: fixed;
    bottom: 27px;
    right: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 5px;
    padding: 5px 78px 5px 5px;
    background-color: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25),
        0px 1px 3px rgba(162, 177, 198, 0.32);
}
.dash-debug-menu__outer--closed {
    height: 60px;
    width: 60px;
    bottom: 37px;
    right: 37px;
    padding: 0;
}

.dash-debug-menu__upgrade-tooltip {
    position: absolute;
    bottom: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
}

.dash-debug-menu__upgrade-tooltip button {
    background: none;
    border: none;
}

.dash-debug-menu__content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.dash-debug-menu__divider {
    width: 1px;
    height: 20px;
    margin: 10px;
    background-color: #e6e6e6;
}

.dash-debug-menu__button {
    background: none;
    border: none;
    box-shadow: 0 1px #D3DAE6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    cursor: pointer;
    font-weight: bold;
}
.dash-debug-menu__button:hover {
    color: black;
}

.dash-debug-menu__button.dash-debug-menu__button--selected {
    color: #7F4BC4;
    box-shadow: 0 2px #0071C2;
}
.dash-debug-menu__button.dash-debug-menu__button--selected:hover {
    color: #5806c4;
}

.dash-debug-alert {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.dash-debug-alert-label {
    display: flex;
    position: fixed;
    bottom: 81px;
    right: 29px;
    z-index: 10002;
    cursor: pointer;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25),
        0px 1px 3px rgba(162, 177, 198, 0.32);
    border-radius: 32px;
    background-color: white;
    padding: 4px;
    color: rgb(50, 50, 50);
}

.dash-debug-error-count {
    display: block;
    margin: 0 3px;
}

.dash-debug-disconnected {
    font-size: 14px;
    margin-left: 3px;
}
