version: 2

jobs:
  "python-2.7": &test-template
    docker:
      - image: circleci/python:2.7-stretch-node-browsers
        environment:
          REQUIREMENTS_FILE: .circleci/requirements/dev-requirements.txt
          PYLINTRC: .pylintrc

    steps:

      - run:
          name: Circle CI Context
          command: |-
            echo "TRIGGERER: ${CIRCLE_USERNAME}"
            echo "BUILD_NUMBER: ${CIRCLE_BUILD_NUM}"
            echo "BUILD_URL: ${CIRCLE_BUILD_URL}"
            echo "BRANCH: ${CIRCLE_BRANCH}"
            echo "RUNNING JOB: ${CIRCLE_JOB}"
            echo "JOB PARALLELISM: ${CIRCLE_NODE_TOTAL}"
            echo "CIRCLE_REPOSITORY_URL: ${CIRCLE_REPOSITORY_URL}"

      - checkout

      - run:
          name: Write deps cache key
          command: |
            cat "$REQUIREMENTS_FILE" > reqs.txt

      - run:
          name: Write job name
          command: echo $CIRCLE_JOB > circlejob.txt

      - run:
          name: Install Dash
          command: |
              sudo pip install --upgrade virtualenv
              python -m venv venv || virtualenv venv
              . venv/bin/activate
              pip install -r $REQUIREMENTS_FILE --force-reinstall --quiet
              echo "install dash"
              pip install -e .

      - run:
          name: Build Renderer
          command: |
              . venv/bin/activate
              cd dash-renderer
              npm install --ignore-scripts
              npm run build
              npm run build:dev
              pip install -e . --quiet
              pip list | grep dash

      - run:
          name: Install dependencies from latest master commit
          command: |
              pwd && ls -la
              git clone https://github.com/plotly/dash-core-components.git
              git clone https://github.com/plotly/dash-html-components.git
              git clone https://github.com/plotly/dash-table.git
              git clone https://github.com/plotly/dash-renderer-test-components
              . venv/bin/activate
              cd dash-core-components && npm install --ignore-scripts && npm run build && pip install -e . && cd ..
              cd dash-html-components && npm install --ignore-scripts && npm run build && pip install -e . && cd ..
              cd dash-table && npm install --ignore-scripts && npm run build && pip install -e . && cd ..
              cd dash-renderer-test-components && npm install --ignore-scripts && npm run build:all && pip install -e . && cd ..

      - run:
          name: Run unit tests
          command: |
            . venv/bin/activate
            mkdir test-reports
            pytest --junitxml=test-reports/junit.xml tests/unit

      - store_test_results:
          path: test-reports

      - store_artifacts:
          path: test-reports


  # "python-3.6":
  #   <<: *test-template
  #   docker:
  #     - image: circleci/python:3.6-stretch-node-browsers
  #       environment:
  #         REQUIREMENTS_FILE: .circleci/requirements/dev-requirements.txt
  #         PYLINTRC: .pylintrc
  #         PERCY_ENABLE: 0

  # "python-3.7":
  #   <<: *test-template
  #   docker:
  #     - image: circleci/python:3.7-stretch-node-browsers
  #       environment:
  #         REQUIREMENTS_FILE: .circleci/requirements/dev-requirements-py37.txt
  #         PYLINTRC: .pylintrc37
  #         PERCY_ENABLE: 0


workflows:
  version: 2
  build:
    jobs:
      - "python-2.7"
      # - "python-3.6"
      # - "python-3.7"
