.dash-error-menu {
    max-width: 50%;
    max-height: 60%;
    display: contents;
    font-family: monospace;
    font-size: 14px;
    font-variant-ligatures: common-ligatures;
    color: rgb(50, 50, 50);
}

.dash-error-card {
    box-sizing: border-box;
    background: #ffffff;
    display: inline-block;
    /* shadow-1 */
    box-shadow: 0px 6px 16px rgba(80, 103, 132, 0.165),
        0px 2px 6px rgba(80, 103, 132, 0.12),
        0px 0px 1px rgba(80, 103, 132, 0.32);
    border-radius: 4px;
    position: fixed;
    top: 16px;
    right: 16px;
    animation: dash-error-card-animation 0.5s;
    padding: 24px;
    text-align: left;
    background-color: white;

}
.dash-error-card--alerts-tray {
    position: absolute;
    top: -300px;
    left: -1px;
    animation: none;
    box-shadow: none;
    border: 1px solid #ececec;
    border-bottom: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 422px;
}
.dash-error-card--container {
    padding: 10px 10px;
    width: 600px;
    max-width: 800px;
    max-height: calc(100vh - 50px);
    margin: 10px;
    overflow: auto;
    z-index: 1100;  /* above the plotly.js toolbar and Bootstrap components */
}

.dash-error-card__topbar {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.dash-error-card__message {
    font-size: 14px;
}

.dash-error-card__message > strong {
    color: #ff4500;
}

.dash-error-card__content {
    box-sizing: border-box;
    padding: 10px 10px;
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25),
        0px 1px 3px rgba(162, 177, 198, 0.32);
    border-radius: 2px;
    margin-bottom: 8px;
}

.dash-error-card__list-item {
    background: #ffffff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25),
        0px 1px 3px rgba(162, 177, 198, 0.32);
    border-radius: 2px;
    padding: 10px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

@keyframes dash-error-card-animation {
    from {
        opacity: 0;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
