.dash-logout-btn {
    padding: 1rem;
    background-color: #119DFF;
    border: 1px solid #119DFF;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.dash-logout-btn:hover, .dash-logout-btn:focus {
    background-color: #0d76bf;
    border: 1px solid #0d76bf;
}

.dash-logout-frame {
    display: block;
    padding: 0;
    margin: 0;
}
