.error-container {
    padding: 0 10px;
    font-family: Courier;
}

.dash-fe-error__icon-x {
    position: absolute;
    right: 0;
    top: 0;
    color: #b9c2ce;
    font-size: 20px;
    cursor: pointer;
}

.dash-fe-error__icon-x:hover {
    color: #a1a9b5;
}

.dash-fe-errors {
    min-width: 386px;
    max-width: 650px;
    max-height: 450px;
    display: inline-block;
}

.dash-fe-error__icon-error {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 16px;
}
.dash-fe-error__icon-close {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 12px;
    top: 12px;
    display: inline-block;
}
.dash-fe-error__icon-arrow {
    width: 8px;
    height: 28px;
    margin: 0px 8px;
}
.dash-fe-error-top__group:first-child {
    /*
     * 77% is the maximum space allowed based off of the other elements
     * in the top part of the error container (timestamp & collapse arrow).
     * this was manually determined */
    width: 77%;
}
.dash-fe-error-top__group {
    display: inline-flex;
    align-items: center;
}
.dash-fe-error__title {
    text-align: left;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    font-size: 12.6px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
}
.dash-fe-error__timestamp {
    margin-right: 20px;
}
.dash-fe-error__collapse--flipped {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dash-fe-error__info_title {
    margin: 0;
    color: #506784;
    font-size: 16px;
    background-color: #f3f6fa;
    border: 2px solid #dfe8f3;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
}

.dash-fe-error__info {
    border: 1px solid #dfe8f3;
    margin: 0 0 1em 0;
    padding: 10px;

    background-color: white;
    border: 2px solid #dfe8f3;
    color: #506784;
    overflow: auto;
    white-space: pre-wrap;
}

.dash-fe-error__curved {
    border-radius: 4px;
}

.dash-fe-error__curved-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-width: 0px;
}

.dash-fe-error__curved-bottom {
    border-radius-bottom-left: 4px;
    border-radius-bottom-right: 4px;
    background-color: #ffefef;
}

.dash-be-error__st {
    background-color: #fdf3f4;
    min-width: 386px;
    max-width: 650px;
    /* iframe container handles the scrolling */
    overflow: hidden;
    display: inline-block;
}

.dash-be-error__str {
    background-color: #f5f6fa;
    min-width: 386px;
    width: 100%;
    overflow: auto;
    line-height: 17px;
    margin-bottom: 8px;
}

.dash-backend-error {
    padding: 8px;
}

.dash-error-menu {
    max-width: 50%;
    max-height: 60%;
    display: contents;
    font-family: monospace;
    font-size: 14px;
    font-variant-ligatures: common-ligatures;
    color: rgb(50, 50, 50);
}

.dash-error-card {
    box-sizing: border-box;
    display: inline-block;
    /* shadow-1 */
    border-radius: 4px;
    animation: dash-error-card-animation 0.5s;
    padding: 24px;
    text-align: left;
    background: transparent;
    width: 100%;
}
.dash-error-card--alerts-tray {
    position: absolute;
    top: -300px;
    left: -1px;
    animation: none;
    box-shadow: none;
    border: 1px solid #ececec;
    border-bottom: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 422px;
}
.dash-error-card--container {
    padding: 16px;
    width: 600px;
    max-width: 800px;
    margin-bottom: 4px;
    background-color: white;
    overflow: auto;
    border-radius: 6px;
    box-shadow: 0px 0.7px 1.4px 0px rgba(0, 0, 0, 0.07),
        0px 1.9px 4px 0px rgba(0, 0, 0, 0.05),
        0px 4.5px 10px 0px rgba(0, 0, 0, 0.05);
}

.dash-error-card__topbar {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    align-items: center;
    position: relative;
    padding-bottom: 14px;
    font-weight: 700;
}
.dash-error-card__message {
    font-size: 14px;
}

.dash-error-card__message > strong {
    color: #ff4500;
}

.dash-error-card__content {
    box-sizing: border-box;
    background-color: white;
    border-radius: 2px;
    margin-bottom: 15px;
    border: 1px solid #0018661a;
    font-size: 12.6px;
}

.dash-fe-error-item {
    background: #ffffff;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

@keyframes dash-error-card-animation {
    from {
        opacity: 0;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
