.dash-datepicker-calendar {
    padding: 0;
    border-collapse: collapse;
}

.dash-datepicker-calendar th > *,
.dash-datepicker-calendar td > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-datepicker-calendar th,
.dash-datepicker-calendar td {
    padding: 0;
    font-weight: normal;
    color: var(--Dash-Text-Weak);
    text-align: center;
    border-radius: 4px;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: var(--day-size, 36px);
    height: var(--day-size, 36px);
}

.dash-datepicker-calendar td.dash-datepicker-calendar-date-inside {
    color: var(--Dash-Text-Strong);
}

.dash-datepicker-calendar td:hover {
    cursor: pointer;
    background-color: var(--Dash-Fill-Weak);
}

.dash-datepicker-calendar td:focus {
    outline: 2px solid var(--Dash-Fill-Interactive-Strong);
    outline-offset: -2px;
    z-index: 1;
    position: relative;
}

.dash-datepicker-calendar td.dash-datepicker-calendar-date-highlighted {
    background-color: color-mix(
        in srgb,
        var(--Dash-Fill-Interactive-Strong) 5%,
        transparent 95%
    );
    color: var(--Dash-Fill-Interactive-Strong);
}

.dash-datepicker-calendar td.dash-datepicker-calendar-date-selected {
    background-color: var(--Dash-Fill-Interactive-Strong);
    color: var(--Dash-Fill-Inverse-Strong);
}

.dash-datepicker-calendar td.dash-datepicker-calendar-date-disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

.dash-datepicker-calendar td input {
    display: none;
}
