.dash-dropdown {
    margin: calc(var(--Dash-Spacing) * 2) 0;
}

.dash-dropdown-grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    align-items: center;
    gap: 8px;
}

.dash-dropdown-grid-container:has(:nth-child(3)) {
    grid-template-columns: auto 1fr auto;
}

.dash-dropdown-grid-container:has(:nth-child(4)) {
    grid-template-columns: auto 1fr auto auto;
}

.dash-dropdown-trigger,
.dash-dropdown-content {
    border-radius: var(--Dash-Spacing);
    border: 1px solid var(--Dash-Stroke-Strong);
    color: inherit;
    text-align: left;
}

.dash-dropdown-trigger {
    background: inherit;
    padding: 6px 12px;
    width: 100%;
    height: 32px;
    cursor: pointer;
    font-size: inherit;
    overflow: hidden;
}

.dash-dropdown-trigger:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.dash-dropdown-value {
    max-width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dash-dropdown-placeholder {
    color: var(--Dash-Text-Disabled);
}

.dash-dropdown-value > * {
    display: inline;
}

.dash-dropdown-content {
    background: var(--Dash-Fill-Inverse-Strong);
    min-width: fit-content;
    width: var(--radix-popover-trigger-width);
    z-index: 50;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
        0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.dash-dropdown-value-count,
.dash-dropdown-trigger-icon {
    color: var(--Dash-Text-Strong);
    white-space: nowrap;
    justify-self: end;
}

.dash-dropdown-trigger-icon {
    transition: transform 0.15s;
}

[data-state='open'] .dash-dropdown-trigger-icon {
    transform: rotate(180deg);
}

.dash-dropdown-value-count {
    line-height: 18px;
    padding: 0 2px;
    background: var(--Dash-Fill-Weak);
}

.dash-dropdown-search-container {
    margin: calc(var(--Dash-Spacing) * 2);
    padding: var(--Dash-Spacing);
    border-radius: 4px;
    border: 1px solid var(--Dash-Stroke-Strong);
    background: var(--Dash-Fill-Inverse-Strong);
}

.dash-dropdown-search-container:focus-within {
    border-color: var(--Dash-Fill-Interactive-Strong);
}

.dash-dropdown-search-icon,
.dash-dropdown-clear {
    width: calc(var(--Dash-Spacing) * 3);
    height: calc(var(--Dash-Spacing) * 3);
}

.dash-dropdown-search-container:focus-within .dash-dropdown-search-icon {
    color: var(--Dash-Fill-Interactive-Strong);
}

.dash-dropdown-clear {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    color: var(--Dash-Text-Strong);
}

.dash-dropdown-clear:hover {
    color: var(--Dash-Fill-Interactive-Strong);
}

.dash-dropdown-clear:focus {
    outline: 2px solid var(--Dash-Fill-Interactive-Strong);
    outline-offset: 1px;
    border-radius: 2px;
}

.dash-dropdown-search {
    line-height: calc(var(--Dash-Spacing) * 6);
    width: 100%;
    border: none;
    background: transparent;
    color: var(--Dash-Text-Strong);
    outline: none;
    padding: 0;

    /* Hide the "x" clear button in search inputs */
    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
        display: none;
    }

    &::-ms-clear {
        display: none;
    }
}

.dash-dropdown-actions {
    display: flex;
    gap: calc(var(--Dash-Spacing) * 6);
    line-height: 18px;
    padding: var(--Dash-Spacing) calc(var(--Dash-Spacing) * 3);
    border-top: 1px solid var(--Dash-Fill-Disabled);
    border-bottom: 1px solid var(--Dash-Fill-Disabled);
}

.dash-dropdown-action-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    text-decoration: none;
    color: var(--Dash-Text-Disabled);
    white-space: nowrap;
}

.dash-dropdown-action-button:hover {
    color: var(--Dash-Fill-Interactive-Strong);
}

.dash-dropdown-action-button:focus {
    text-decoration: underline;
}

.dash-dropdown-options {
    overflow-y: auto;
}

.dash-dropdown-option {
    padding: var(--Dash-Spacing) calc(var(--Dash-Spacing) * 3);
    background: var(--Dash-Fill-Inverse-strong);
    box-shadow: 0 -1px 0 0 var(--Dash-Fill-Disabled) inset;
    color: var(--Dash-Text-Strong);
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    overflow: hidden;
}

.dash-dropdown-option:not(:has(input[disabled])):hover,
.dash-dropdown-option:not(:has(input[disabled])):focus-within {
    color: var(--Dash-Fill-Interactive-Strong);
    background: var(--Dash-Fill-Interactive-Weak);
}

.dash-dropdown-option:has(input[disabled]) {
    color: var(--Dash-Text-Disabled);
    cursor: not-allowed;
}

.dash-dropdown-option-text {
    white-space: pre;
}

.dash-dropdown-option-checkbox {
    display: inline-block;
    margin: 0 calc(var(--Dash-Spacing) * 2) 0 0;
    box-sizing: border-box;
    border: 1px solid var(--Dash-Stroke-Strong);
}

.dash-dropdown-option-checkbox:hover,
.dash-dropdown-option-checkbox:focus,
.dash-dropdown-option-checkbox:checked {
    accent-color: var(--Dash-Fill-Interactive-Strong);
}
