/* Input container styles */
.dash-input-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 170px; /* default input width */
    height: 32px;
    background: var(--Dash-Fill-Inverse-Strong, #fff);
    border-radius: var(--Dash-Spacing, 4px);
    border: 1px solid var(--Dash-Stroke-Strong, rgba(0, 18, 77, 0.45));
    box-sizing: border-box;
    container-type: inline-size;
    vertical-align: middle;
    color: inherit;
    overflow: hidden;
}

.dash-input-container:has(input[type='range']) {
    background: inherit;
}

/* Input field styles */
.dash-input-element {
    padding: var(--Dash-Spacing, 4px) calc(2 * var(--Dash-Spacing, 4px));
    color: inherit;
    background: inherit;
    border: none;
    border-radius: var(--Dash-Spacing, 4px);
    flex: 1 1 0;
    min-width: 0;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
    order: 2;
}

/* Hide native steppers for number inputs */
.dash-input-element[type='number'] {
    -moz-appearance: textfield;
}

.dash-input-element[type='number']::-webkit-outer-spin-button,
.dash-input-element[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Show native steppers when container is narrow and input is number type */
@container (max-width: 99px) {
    .dash-input-element[type='number'] {
        -moz-appearance: number-input;
    }

    .dash-input-element[type='number']::-webkit-outer-spin-button,
    .dash-input-element[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: inner-spin-button;
        margin: 0;
    }
}

/* Stepper button base styles */
.dash-input-stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 100%;
    border: none;
    background: var(--Dash-Fill-Inverse-Strong, #fff);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: var(--Dash-Text-Primary, rgba(0, 18, 77, 0.87));
}

.dash-input-stepper:hover {
    background: var(--Dash-Fill-Primary-Hover, rgba(0, 18, 77, 0.04));
}

.dash-input-stepper:active {
    background: var(--Dash-Fill-Primary-Active, rgba(0, 18, 77, 0.08));
}

.dash-input-stepper:disabled {
    background: var(--Dash-Fill-Inverse-Strong, #fff);
    opacity: 0.5;
    cursor: default;
}

@container (max-width: 99px) {
    .dash-input-stepper {
        display: none;
    }
}

/* Decrement button specific styles */
.dash-input-stepper.dash-stepper-decrement {
    border-right: 1px solid var(--Dash-Stroke-Weak);
    border-radius: var(--Dash-Spacing) 0 0 var(--Dash-Spacing);
    order: 1;
}

/* Increment button specific styles */
.dash-input-stepper.dash-stepper-increment {
    border-left: 1px solid var(--Dash-Stroke-Weak);
    border-radius: 0 var(--Dash-Spacing) var(--Dash-Spacing) 0;
    order: 3;
}

/* Hidden input type */
.dash-input-container.dash-input-hidden {
    display: none;
}

input.dash-input-element:invalid {
    outline: solid red;
}

input.dash-input-element:valid {
    outline: none black;
}
