.DateInput_input {
    box-sizing: border-box;
}

.DayPickerNavigation__verticalDefault {
    text-align: center;
    height: initial;
    padding: 10px 0px;
}

.DayPickerNavigation_svg__vertical {
    height: 20px;
}
