git+git://github.com/plotly/dash-core-components@master#egg=dash_core_components
git+git://github.com/plotly/dash-html-components@master#egg=dash_html_components
git+git://github.com/plotly/dash-renderer@master#egg=dash_renderer
dash_flow_example==0.0.5
dash-dangerously-set-inner-html
percy
selenium
mock
tox
tox-pyenv
mock
six
plotly==3.6.0
requests[security]
flake8
pylint==1.9.4
