dash_core_components==0.43.1
dash_html_components==0.13.5
dash-flow-example==0.0.5
dash-dangerously-set-inner-html
-e git+git://github.com/plotly/dash-renderer@multi-output#egg=dash_renderer
percy
selenium
mock
tox
tox-pyenv
six
plotly==3.6.1
requests[security]
flake8
pylint==2.2.2
astroid==2.1.0
