dash_core_components>=0.40.2
dash_html_components>=0.12.0rc3
dash_flow_example==0.0.3
dash-dangerously-set-inner-html
git+git://github.com/plotly/dash-renderer@master#egg=dash_renderer
percy
selenium
mock
tox
tox-pyenv
mock
six
plotly>=2.0.8
requests[security]
flake8
pylint==1.9.2
stringcase
typing

