git+git://github.com/plotly/dash-core-components@master#egg=dash_core_components
git+git://github.com/plotly/dash-html-components@master#egg=dash_html_components
git+git://github.com/plotly/dash-renderer@master#egg=dash_renderer
dash-flow-example==0.0.5
dash-dangerously-set-inner-html
percy
selenium
mock
tox
tox-pyenv
six
plotly==3.6.0
requests[security]
flake8
pylint==2.2.2
astroid==2.1.0
