
<label>year</label>
<input name="slider" min="1952" max="2008" value="1956" step="5" type="range" class="show-values u-full-width">

<label>xaxis</label>
<select name="xaxis" class="u-full-width">
    <option value="pop">Population</option>
    <option value="lifeExp">Life Expectancy</option>
    <option selected="selected" value="gdpPercap">GDP per Capita</option>
</select>

<label>yaxis</label>
<select name="yaxis" class="u-full-width">
    <option value="pop">Population</option>
    <option selected="selected" value="lifeExp">Life Expectancy</option>
    <option value="gdpPercap">GDP per Capita</option>
</select>

<label>size</label>
<select selected="selected" name="size" class="u-full-width">
    <option value="pop">Population</option>
    <option value="lifeExp">Life Expectancy</option>
    <option value="gdpPercap">GDP per Capita</option>
</select>
