.dash-debug-alert-container {
    box-sizing: border-box;
    background: #f3f6fa;
    border-radius: 2px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 0.1s, border 0.1s;
}
.dash-debug-alert-container:hover {
    cursor: pointer;
}
.dash-debug-alert-container--opened {
    background-color: #119dff;
    color: white;
}
.dash-debug-alert-container__icon {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}
.dash-debug-alert-container__icon--warning {
    height: auto;
}

.dash-debug-alert {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.dash-debug-alert-label {
    display: flex;
    position: fixed;
    bottom: 81px;
    right: 29px;
    z-index: 10001;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25),
        0px 1px 3px rgba(162, 177, 198, 0.32);
    border-radius: 32px;
    background-color: white;
    padding: 4px;
}
