<!DOCTYPE HTML>
<html>
<head>
    <!--
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javsacript" src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="static/jquery-ui-slider-pips.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="static/jquery-ui-slider-pips.css">


    <style type="text/css">
        #checkboxes label {
          float: left;
        }
        #checkboxes ul {
          margin: 0;
          list-style: none;
          float: left;
        }
        #checkboxes li {
            white-space: nowrap;
            width:500px;
            overflow-x:scroll;
        }
        h2 {
            text-transform: uppercase;
            color: #447bdc
        }
        .left-pane {
            margin: 0 2em 0;
        }
        .input-description{
            display: inline-block
        }
        form {
            margin-top: 5px;
        }
        .container {
            padding-top: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
        }
    </style>

</head>

<body style="font-family: 'Open Sans', serif;">

        <div class="pure-g">
            <div class="pure-u-24-24" style="border: lightgrey solid thin; height: 75px;">
                <div style="font-size: 24px;
                            color: rgb(102, 102, 102);
                            margin-left: 20px;
                            margin-top: 28px;
                            display: inline-block;">
                    Drilling Down with Sliders, Click Events, and Dropdown
                </div>
                <div style="height: 100%;
                            display: inline-block;
                            float: right;
                            margin-right: 20px;">
                    <img style="height: 75%; margin-top: 7px;"
                         src="https://www.firstrepublic.com/content/images/logo_hires/FirstRepublicBank-Logo_Print.png?hash=d34d2e2917b31cb5b3a2a8da44714cdc">
                </div>
            </div>

            <div class="pure-u-12-24">
                <div class="container">
                    <iframe id="bubbles"
                            src="https://plot.ly/~chris/4103.embed"
                            style="width:100%; height:525px; border:none"
                            seamless>
                    </iframe>
                    <div style="margin-top: 13px;">
                        <div class="slider" id="slider"></div>
                    </div>
                </div>
            </div>

            <div class="pure-u-12-24">
                <div class="container" style="padding-right: 20px;">
                    <iframe id="line"
                            src="https://plot.ly/~chris/4103.embed"
                            style="width:100%; height:525px; border:none"
                            seamless>
                    </iframe>
                    <form class="pure-form" style="float: right;">
                        <fieldset>
                            <select id="xaxis">
                                <option value="pop">Population</option>
                                <option value="lifeExp">Life Expectancy</option>
                                <option value="gdpPercap">GDP per Capita</option>
                            </select>

                            <select id="yaxis">
                                <option value="pop">Population</option>
                                <option value="lifeExp">Life Expectancy</option>
                                <option value="gdpPercap">GDP per Capita</option>
                            </select>

                            <select id="size">
                                <option value="pop">Population</option>
                                <option value="lifeExp">Life Expectancy</option>
                                <option value="gdpPercap">GDP per Capita</option>
                            </select>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
</body>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $(function() {
                $( "#slider" ).slider({
                    max: 2007,
                    min: 1952,
                    step: 5
                }).slider("pips", {});
            });

            function init_graph_obj(id){
                var obj = {
                    graphContentWindow: $('#'+id)[0].contentWindow,
                    id: id
                };
                obj['pinger'] = setInterval(function(){
                    obj.graphContentWindow.postMessage({task: 'ping'}, 'https://plot.ly');
                }, 500);
                return obj;
            }

            var graphs = {
                'bubbles': init_graph_obj('bubbles'),
                'line': init_graph_obj('line')
            };

            //
            // Sockets
            //

            namespace = ''; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            socket.on('postMessage', function(msg_string) {
                $('.left-pane').show();
                $('.loading').hide();
                var msgs = JSON.parse(msg_string);
                for(var i=0; i<msgs.length; i++){
                    graphs[msgs[i].id].graphContentWindow.postMessage(msgs[i], 'https://plot.ly');
                }
            });

            window.addEventListener('message', function(e){
                var message = e.data;
                if (graphs['bubbles'].graphContentWindow === e.source){
                    var graph = graphs['bubbles'];
                } else if (graphs['line'].graphContentWindow === e.source)
                    var graph = graphs['line'];
                else {
                    return;
                }

                var pinger = graph.pinger;
                var graphContentWindow = graph.graphContentWindow;
                var id = graph.id;

                if('pong' in message && message.pong) {
                    console.log('>> clearing!')
                    clearInterval(pinger);
                    graphContentWindow.postMessage({
                        'task': 'listen',
                        'events': ['click']
                    }, 'https://plot.ly');
                    socket.emit('pong', {id: id});
                } else if (message.type==='hover' ||
                            message.type==='zoom'  ||
                            message.type==='click') {
                    console.log('>> ', message.type);
                    if(message.type !== 'zoom') {
                        for(var i in message.points) {
                            delete message.points[i].data;
                        }
                    }
                    sendState({}, {'click': message});
                }
            });

            //
            // JQuery UI
            //
            function sendState(that, payload){
                var payload = payload || {};

                payload.slider = $('#slider').slider("value");
                payload.yaxis = $('#yaxis option:selected').val();
                payload.xaxis = $('#xaxis option:selected').val();
                payload.size = $('#size option:selected').val();

                socket.emit('replot', payload)
            }
            $('#slider').on('slide', function(){console.log('change'); sendState({},{'slide': true});});
            $('#yaxis').change(function(){
                sendState({}, {'select': true})
            });
            $('#xaxis').change(function(){
                sendState({}, {'select': true})
            });
            $('#size').change(function(){
                sendState({}, {'select': true})
            });
        });

    </script>

</body>
</html>
